.app-header-conatiner {
    z-index: 4;
    position: fixed;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    width: 100vw;
    .user-header-section {
        padding-top: 16px;
        padding-bottom: 18px;
    }
    .logo-container {
        color: $clr1;

        .logo {
            all: unset;
            color: $clr1;
            letter-spacing: 0;
            font-family: circular-bold;
            cursor: pointer;
            font-size: 23px;
            line-height: 36px;
            display: flex;
            align-items: center;
        }
    }
    .user-btn {
        border: none;
        text-align: inherit;
        height: 42px;
        width: 80px;
        border-radius: 21px;
        border: 1px solid #ddd;
        font-size: 18px;
        line-height: 1.43;
        color: #484848;
        background-color: white;
        // padding: 5px 5px 5px 15px;
    }
    .btn-section {
        gap: 14px;
        margin-left: 4px;
    }
    .user-logo-container {
        margin-top: 1px;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: #ddd;
        text-align: center;
        overflow: hidden;
        & img {
            height: 100%;
            object-fit: cover;
        }
    }
    .nav-bar-container {
        .nav-opt {
            padding: 10px 15px;
            font-family: circular-medium;
            color: $clr1;
            font-size: 14px;
            border-radius: 55px;
            &:hover {
                background-color: hsla(0, 0%, 100%, 0.22);
                border-radius: 50px;
            }
        }
    }
    .user-img-container {
        overflow: hidden;
        .menu-btn {
            font-size: 14px;
        }
    }
    &.mini-header {
        background-color: $clr1;
        transition: all 0.5s;
        .nav-opt {
            color: $clr2;
        }
        .logo-container {
            color: $clr6;

            .logo {
                color: $clr6;
            }
        }
        .search-bar-container {
            display: none;
            transition: all 0.5s;
        }
    }
}
