.reviews-section-container{
    & section{
        width: 100%;
    }
}
.reviews-section-title {
    margin-top: 40px;
    line-height: 1.625rem;
    font-size: 1.2rem;
    vertical-align: middle;
    align-items: center;
}
.reviews-container {
    width: 100%;
    // border: 1px solid black;
    min-height: 340px;
    max-height: 600px;
    list-style: none;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0;
    align-content: space-between;
    & .review-card-container {
        min-width: 350px;
        max-width: 47%;
        width: 47%;
        height: 120px;
        border-radius: 15px;
        box-shadow: 17px -4px 15px 1px rgba(0, 0, 0, 0.07);
    }

    & .review-user-info {
        padding-top: 5px;
        width: 95%;
        margin: 0 auto;
        & .review-username-container {
            align-items: flex-end;
        }
    }
    & .review-stars-container {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    & .review-txt-container {
        width: 95%;
        margin: 0 auto;
    }
}
.txt-info-container {
    align-items: center;
}
.user-review-img-container {
    height: 44px;
    border-radius: 22px;
    background-color: blue;
    width: 44px;
    overflow: hidden;
    & img {
        // overflow: hidden;
        height: 100%;
        width: 100%;
    }
}
