.home-page {
    & .hero {
        background-image: url(../../img/hero.png);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    & .sug-loc {
        margin-top: 20px;
        margin-bottom: 50px;
        h2 {
            font-family: circular-Bold;
        }
        & .locations {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 24px 300px;
            margin-top: 30px;
            & .loc-section {
                max-width: 100px;
                .loc-img {
                    height: 100px;
                    width: 100px;
                    margin-right: 10px;
                    border-radius: 10%;
                    cursor:pointer;
                }
                .city-name {
                    font-family: circular-bold;
                }
                .country-name {
                    color: $clr5;
                }
            }
        }
    }
    & .live-any {
        margin-bottom: 56px;
        font-family: circular-bold;
        h2 {
            font-family: circular-bold;
        }
        & .live-loc {
            margin-top: 15px;
            .live-img {
                border-radius: 10%;
                height: 350px;
                width: 350px;
                cursor:pointer;
            }
            p{
                font-size:1.475rem;
            }
        }
    }
    & .host-banner {
        background-image: url(../../img/host-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        color: white;
        padding: 100px;
        border-radius: 10px;
        margin-bottom:90px;
        & p {
            margin-top: 15px;
            max-width: 270px;
        }
        & .try-host-btn {
            background-color: $clr1;
            color: $clr2;
            height: 50px;
            margin-top: 20px;
            width: 120px;
            text-align: center;
            border-radius: 5%;
        }
    }
}
