.login {
    height: 500px;
    width: 420px;
    text-align: center;
    border: 1px $clr2 solid;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10%;
     input {
        padding: 15px;
        outline: none;
        border:none;
    }

    .input-fields {
        border: 1px solid $clr2;
        padding:15px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
        width: 400px;
        border-radius:3rem;
    }
    h1 {
        position: absolute;
        top: 10px;
    }
    .login-btn {
        background-color: $clr8;
        width: 400px;
        height: 40px;
        font-weight: bold;
    }
    .new-user {
        .new-user-btn {
            color: black;
        }
    }
}
.login-form {
    position: absolute;
    top: 130px;
}
.login-form button {
    background-color: $clr6;
    border: none;
}
