.stay-preview {
    cursor: pointer;
    
    a:hover {
        text-decoration: none;
    }
    .slick-slider {
        position: relative;
        height: calc(100% -100px);
        button {
            margin: -5px 0;
        }
        &:hover {
            .slick-prev {
                opacity: 1;
            }
            .slick-next {
                opacity: 1;
            }
        }
        .slick-prev:before,
        .slick-next:before {
            font-size: 30px !important;
        }
        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            left: 0px;
            z-index: 5;
            opacity: 0;
            transform: translateY(-50%);
        }
        .slick-next {
            right: 10px;
            left: unset;
        }

        .slick-dots {
            bottom: 10px;
            li.slick-active button::before {
                color: whitesmoke;
            }
        }
        div {
            height: 100%;
            width: 100%;
            margin: 0 0;
            padding: 0 0;
            border-radius: 15px;
            img {
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }
    }
    .preview-details {
        line-height: 1.8rem;
        h3 {
            font-size: 15.75px;
            padding-bottom: 5.5px;
        }
        .preview-rating {
            gap: 4px;
            // .preview-rating-amount{
            // color: $clr10;

            // }
            .preview-review-count {
                gap: 1.5px;
            }
            // p:first-child {
            //     color: $clr11;
            // }
            p,
            span {
                font-size: 14px;
            }
        }
        .preview-img {
            position: relative;
            display: inline-block;
        }
        .stay-style,
        .preview-rating-amount {
            color: $clr10;
            font-weight: unset;
            font-family: circular-medium;
        }
    }

    .preview-price {
        color: $clr10;
        .preview-price-amount {
            font-family: circular-medium;
        }
    }
    .MuiSvgIcon-root {
        position: relative;
        top: 25px;
        z-index: 1;
        left: 89%;
        color: $clr6;
        width: 30px;
    }
}
