.stay-preview{
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    
    cursor: pointer;
    & a:hover{
        text-decoration: none;
    }
    & .preview-img {
        border-radius: 13px;
    }
    & .stay-name {
        color: $clr9;
    }
    & .preview-price{
        color: $clr9;
    }
    & .preview-rating{
        padding-top: 7px;
        gap: 4px;
        color: $clr9;
    }
    & .stay-style{
        padding-top: 7px;
        gap: 4px;
        color: $clr9;
    }

}

