.stay-preview {
    font-size: 14px;
    font-family: circular;
    font-weight: 400;
    color: $clr2;

    text-decoration: none;

    cursor: pointer;

    a:hover {
        text-decoration: none;
    }
    .preview-img {
        border-radius: 13px;
        //  .preview-slider {

        // }
    }

    .slick-slider {
        position: relative;
        // height: calc(100% -100px);

        &:hover {
            .slick-prev {
                opacity: 1;
            }
            .slick-next {
                opacity: 1;
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            left: 10px;
            z-index: 5;
            opacity: 0;
            transform: translateY(-50%);
        }
        .slick-next {
            right: 10px;
            left: unset;
        }

        .slick-dots {
            bottom: 10px;
            li.slick-active button::before {
                color: whitesmoke;
            }
        }

        div {
            height: 100%;
            width: 100%;
            margin: 0 0;
            padding: 0 0;
            border-radius: 15px;

            img {
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }
    }

    .stay-name h3 {
        line-height: 1.25rem;
        font-size: 0.875rem;
    }

    .preview-price {
        color: $clr9;
        & h3 {
            font-size: 14px;
            line-height: 1rem;
        }
    }
    .preview-rating {
        padding-top: 7px;
        gap: 4px;
        color: $clr9;
    }
    & .stay-style {
        padding-top: 7px;
        gap: 4px;
        color: $clr9;
    }
}
