.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 24px;
    @include for-narrow-layout {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
    @include for-normal-layout {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
    @include for-wide-layout {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @include for-wider-layout {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @include for-extra-wide-layout {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
