.info-imgs-container {
    display: flex;
    flex-direction: column-reverse;
}

.stay-info {
    width: 100%;
    margin: 25px 0;
    
    & .stay-name-container {
        font-weight: 600;
        font-size: 1.625rem;
        line-height: 1.875rem;
    }
}
.imgs-container {
    width: 100%;
    height: 500px;
}
.host-info-container {
    border-bottom: 0.5px solid lightgray;
}
.asset-short-info {
    flex-direction: column;
    & .host-by {
        font-size: 1.35rem;
        font-weight: 400;
        line-height: 1.625rem;
    }
}
.asset-imgs-container {
    height: 250px;
    width: 100%;
    & .asset-imgs {
        width: 100%;
        gap: 8px;
        & .primary-img {
            width: 100%;
        }
    }
}
.imgs-container {
    display: none;
    flex-direction: column;
    width: 275px;
    height: 500px;
    & .asset-img {
        height: 245px;
        width: 100%;
    }
}
.host-img-container {
    height: 56px;
    border-radius: 28px;
    background-color: blue;
    width: 56px;
    & p {
        line-height: 56px;
        text-align: center;
        color: whitesmoke;
    }
}

.imgs-container {
    img {
        width: 100%;
        height: 100%;
    }
}
.asset-img {
    height: 245px;
    width: 100%;
}

@media (max-width: $mobile-breakpoint) {
    .stay-info {
        flex-direction: column;
        padding: 0 5px;
    }

    .stay-info-container {
        width: 100%;
        justify-content: space-between;
    }

    .user-btns-container {
        display: none;
    }
}
@media (min-width: $mobile-breakpoint) {
    .stay-info {
        flex-direction: column;
        padding: 0 5px;
    }

}
@media (min-width: $narrow-breakpoint) {
    .stay-info {
        flex-direction: row;
        padding: 0 ;
    }
    .info-imgs-container {
        flex-direction: column;
    }
    .asset-imgs-container {
        height: 500px;
        & .asset-imgs {
            width: 100%;
            border-radius: 15px;
            margin: 0 auto;
            height: 500px;
            justify-content: center;
            & .primary-img {
                height: 500px;
                width: 50%;
            }
        }
    }

    .imgs-container {
        display: flex;
        flex-direction: column;
        width: 275px;
        height: 500px;
        gap: 10px;
        & .asset-img {
            height: 245px;
            width: 100%;
        }
    }
    .host-info-container {
        padding-top: 48px;
        padding-bottom: 24px;
    }
}
@media (min-width: $normal-breakpoint) {
}
@media (min-width: $wide-breakpoint) {
}
@media (min-width: $wide-breakpoint) {
}

// @media (max-width: $mobile-breakpoint) {
// }
// @media (min-width: $mobile-breakpoint) {
// }
// @media (min-width: $narrow-breakpoint) {
// }
// @media (min-width: $normal-breakpoint) {
// }
// @media (min-width: $wide-breakpoint) {
// }
// @media (min-width: $wide-breakpoint) {
// }
