.stays-headline {
  padding-top: 50px !important;
  h1 {
    font-size: 32px;
    font-family: circular-bold;
  }
}
.explore-filter {
  padding: 25px 0;
  .sort-type {
    display: inline-block !important;
    white-space: nowrap !important;
    padding-right: 8px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    button {
      cursor: pointer;
      text-align: center;
      border: 1px solid rgb(221, 221, 221);
      background-color: rgb(255, 255, 255);
      outline: none;
      margin: 0px;
      border-radius: 30px;
      color: rgb(34, 34, 34);
      font-family: circular-light;
      position: relative;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
