// .search-bar-container {
//     border: 1px solid $clr5;
//     border-radius: 999px;
//     width: 96%;
//     justify-content: space-evenly;
//     // margin: 0 auto;
//     z-index: 1;
//     // margin-bottom: 40px;
//
//     .loc-inpt{
//         font-family: circular-bold;

//     }
//     .DateRangePickerInput__withBorder {
//         all: initial;

//         .DateRangePicker_picker{
//             z-index: 2;

//         }
//     }

//     .search-bar-search-btn-container {
//         background-color: $clr8;
//         height: 47px;
//         width: 47px;
//         font-size: 0.875rem;
//         border-radius: 50%;
//         cursor: pointer;
//         .search-bar-search-btn {
//             color: #fff;
//             background-color: $clr8;

//         }
//     }
//         & .search-btn {

//     }
// }
.search-bar-container {
    min-width: 50%;
    max-width: 850px;
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    height: 63px;
    margin-bottom: 32px;
    border: 0.5px solid lightgray;
    .dates-container {
        width: 420px;
    }
    .location-container,
    .check-in-input,
    .check-out-input,
    .guests-container {
        width: 210px;
    }

    input {
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        background-color: none;
    }
    .check-container {
        justify-content: center;
    }
    p {
        color: $clr2;
        font-size: 12px;
        font-family: circular-bold;
    }
    .check-in-out {
        gap: 31%;
        margin-bottom: -3px;
        margin-top: 13px;
    }
    label {
        padding: 14px 24px;
        // width: auto;
        width: 100%;

        color: $clr2;
        font-size: 12px;
        font-family: circular-bold;
        height: 100%;
        padding: 14px 24px;
        border-radius: 40px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
        overflow: hidden;

        &:hover {
            background-color: #fff;
            box-shadow: 0 0 25px 0;
        }
        &:nth-child(1) {
            display: flex;
            flex-direction: column;
        }
    }

    .DateRangePicker {
        input {
            border-right: 1px solid lightgray;
            font-family: circular-bold;
            font-size: 12px;
        }
    }
}

.search-dates-container {
    position: absolute;
    left: 40%;
    // background-color: none;
}
.rdrDefinedRangesWrapper{
    display: none;
}