.search-bar-container {
    min-width: 50%;
    max-width: 850px;
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    height: 66px;
    margin-bottom: 32px;
    border: 0.5px solid lightgray;
    transition: display 1s;
    padding: 0 10px 0 0;
    .guests-container {
        position: relative;
    }
    .guests-container,
    .location-container {
        width: 25%;
    }

    .dates-container {
        width: 50%;
        > * {
            flex-grow: 1;
        }
    }

    input {
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        background-color: inherit;

        overflow: hidden;
        transition: background-color 0.3s;
    }
    .check-container {
        justify-content: center;
    }
    p {
        color: $clr2;
        font-size: 12px;
        font-family: circular-bold;
    }
    .check-in-out {
        gap: 31%;
        margin-bottom: -3px;
        margin-top: 13px;
    }
    .dates-container {
        span {
            color: $clr5;
            font-size: 12px;
            font-family: circular;
        }
    }
    .guest-placeholder {
        color: $clr5;
        font-size: 12px;
        font-family: circular;
    }
    .location-container {
        input {
            background-color: transparent;
            font-family: circular-light;
            color: $clr5;
        }
        input::placeholder {
            color: $clr5;
            font-size: 12px;
            font-family: circular;
            background-color: transparent;
        }
    }
    label {
        padding: 14px 24px;
        // width: auto;
        width: 100%;

        color: $clr2;
        font-size: 12px;
        font-family: circular-bold;
        height: 100%;
        padding: 14px 24px;
        border-radius: 40px;
        cursor: pointer;
        transition: background-color 0.3s;
        overflow: hidden;

        &:hover {
            background-color: #ebebeb;
            // background-color: rgba(211, 211, 211, 0.603);
        }
        &:nth-child(1) {
            display: flex;
            flex-direction: column;
        }
    }
    .search-btn-container {
        width: 55px;
        height: 49px;
        color: $clr1;
        background-color: $clr8;
        border-radius: 55px;
        cursor: pointer;
    }

    .DateRangePicker {
        input {
            border-right: 1px solid lightgray;
            font-family: circular-bold;
            font-size: 12px;
        }
    }
}

.search-dates-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    .date-pick {
        width: 328px;
        .rdrCalendarWrapper {
            width: 300px;
            height: 350px;
        }
    }
    // background-color: none;
}
.rdrDefinedRangesWrapper {
    display: none;
}
