.loader-container {
    width: 100%;
    height: calc(100vh - 420px);
    img {
        height: 250px;
        width: 250px;
    }
}
.explore-page-container {
    min-height: 90vh;
    margin-bottom:45px;
    ::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
        display: none;
    }
}
.explore-mega-container {
    max-width: calc(100vw - 80px);
}
