// Colors
$clr1: #FF5A5F;
$clr2: #232323;
$clr3: #574f7d;
$clr4: #DDD;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;