// Colors
// Site Background
$clr1: #fff;
// Font Color
$clr2: #222;
// Font Color
$clr3: #6f019c;
// Header color
$clr4: #f7f7f7;
// Muted Font
$clr5: #7a7a7a;
// Logo color
$clr6: #ff5a5f;
// Background color host
$clr7: #232323;
// Notifications/Reviews rating
$clr8: #ff385c;
//preview colors
$clr9: #717171;
$clr10: #484848;
$clr11: #222222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 940px;
$normal-breakpoint: 1110px;
$wide-breakpoint: 1500px;
$extra-wide-breakpoint: 1600px;
