.info-imgs-container {
    display: flex;
    flex-direction: column-reverse;
    .stay-info {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
        & p:not(:first-child) {
            padding-inline-start: 4px;
        }
        & p {
            font-size: 0.875rem;
        }
        & h2 {
            font-size: 1.625rem;
            line-height: 2.125rem;
            font-family: circular-bold;
        }
        .user-btns-container {
            justify-content: space-evenly;
            width: 150px;
            & p {
                font-size: 1rem;
            }
        }
        .stay-avg-info {
            & p {
                font-family: circular-light;
            }
            .info-line-score {
                font-family: circular-bold;
                padding-inline-start: 4px;
            }
        }
        .dot {
            margin-inline-end: 10px;
            margin-inline-start: 4px;
        }

        @include for-mobile-layout {
            .stay-info {
                flex-direction: column;
                padding: 0 5px;
            }
            .user-btns-container {
                display: none;
            }
        }
        @include for-narrow-layout {
            .stay-info {
                flex-direction: row;
                padding: 0;
            }
        }
        @include for-normal-layout {
            .stay-info {
                // flex-direction: row;
                padding: 0;
            }
        }
    }
}
.host-info-container {
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 24px;
}
.asset-short-info {
    flex-direction: column;
    & .host-by {
        font-size: 1.35rem;
        font-weight: 400;
        line-height: 1.625rem;
    }
}

.asset-imgs-container {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    & .asset-imgs {
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        gap: 8px;
        & .primary-img {
            overflow: hidden;
            width: 100%;
        }
    }
}

.imgs-container {
    display: none;
    flex-direction: column;
    width: 275px;
    // height: 350px;
    height: 500px;
    & .asset-img {
        height: 245px;
        // height: 175px;
        width: 100%;
    }
}

.asset-img {
    height: 245px;
    width: 100%;
}

.info-line-loc {
    font-family: circular-bold;
    text-decoration: underline;
    color: $clr5;
}
.host-img-container {
    height: 56px;
    border-radius: 28px;
    overflow: hidden;

    background-color: blue;
    width: 56px;
}

@media (min-width: $mobile-breakpoint) {
    .stay-info {
        flex-direction: column;
        padding: 0 5px;
    }
    .host-info-container {
        padding-bottom: 24px;
    }
}
@media (min-width: $narrow-breakpoint) {
    .info-imgs-container {
        flex-direction: column;
    }
    .asset-imgs-container {
        // height: 350px;
        height: 500px;
        & .asset-imgs {
            width: 100%;
            justify-content: center;
            & .primary-img {
                height: 500px;
                // height: 350px;
                width: 50%;
            }
        }
    }

    .imgs-container {
        display: flex;
        flex-direction: column;
        width: 275px;
        // height: 350px;
        height: 500px;
        gap: 10px;
        & .asset-img {
            // height: 175px;
            height: 245px;
            width: 100%;
        }
    }
    .host-info-container {
        padding-top: 48px;
    }
}
@media (min-width: $normal-breakpoint) {
    .host-info-container {
        padding-bottom: 24px;
    }
    .asset-imgs {
        overflow: hidden;
    }
}
@media (min-width: $wide-breakpoint) {
    .imgs-container {
        width: 340px;
    }
    .asset-imgs {
        overflow: hidden;
    }
}
@media (min-width: $wide-breakpoint) {
    .asset-imgs {
        border-radius: 15px;
        overflow: hidden;
    }
}

// @media (max-width: $mobile-breakpoint) {
// }
// @media (min-width: $mobile-breakpoint) {
// }
// @media (min-width: $narrow-breakpoint) {
// }
// @media (min-width: $normal-breakpoint) {
// }
// @media (min-width: $wide-breakpoint) {
// }
// @media (min-width: $wide-breakpoint) {
// }
