.add-review {
    border-top: 0.5px solid lightgray;

    .add-review-title-container {
        margin: 20px 0;
        font-family: circular-bold;
    }
    .add-review-container {
        width: 100%;
        // justify-content: center;
        justify-content: space-between;
        & p {
            font-family: circular-bold;
            font-size: 1rem;
        }
    }
    .left-review,
    .right-review {
        padding-inline-start: 12px;
        max-width: 40%;
        width: 40%;
    }
    .add-txt-container {
        width: 100%;
        height: 100%;
    }

    .review-input {
        margin: 20px 0;
        padding: 20px;
        width: 100%;
        height: 150px;
        resize: none;
        border-radius: 13px;
        border-color: #bdbcbc;
    }
    .add-review-btn {
        width: 200px;
    }
}
